<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>VUE</title>
    <style type="text/css">
        input {
            background-color: azure;
        }
        #welcome-message {
            display: none;
        }
    </style>
</head>
<body>

    <div id="main">
        <h3>Hola aplicación: {{ message }}</h3>

        <div id="login-form" v-if="!isLoggedIn">
            <form @submit.prevent="login">
                <fieldset>
                    <label>Escribe tu correo:</label>
                    <input type="email" v-model="email" placeholder="Correo" required>

                    <hr>

                    <label>Escribe tu Contraseña:</label>
                    <input type="password" v-model="password" placeholder="Contraseña" required>

                    <hr>

                    <button type="submit">Acceder</button>
                </fieldset>
            </form>
        </div>

        <div id="welcome-message" v-if="isLoggedIn">
            <h3>Bienvenidos {{ userEmail }}!</h3>
        </div>

    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    email: '',
                    password: '',
                    isLoggedIn: false,
                    userEmail: '',
                    message: 'Aplicación Vue'
                };
            },
            methods: {
                login() {
                    fetch('users.json')
                        .then(response => response.json())
                        .then(users => {
                            const user = users.find(u => u.email === this.email && u.password === this.password);
                            if (user) {
                                this.isLoggedIn = true; 
                                this.userEmail = user.email; 
                                console.log("Login exitoso:", this.userEmail); 
                                console.log(this.isLoggedIn);
                            } else {
                                alert('Correo o contraseña incorrectos. Por favor, inténtalo de nuevo.');
                            }
                        })
                        .catch(error => {
                            console.error('Error al cargar el archivo:', error);
                            alert('Error al cargar los datos. Inténtalo más tarde.');
                        });
                }
            }
        }).mount('#main'); 
    </script>

</body>
</html>
